.cart-logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  & .cart-logo {
    width: 24px;
    height: 24px;
  }
  & .item-count {
    position: absolute;
    bottom: 12px;
    font-size: 10px;
    font-weight: bold;
  }
}